.App {}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,500&display=swap');

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Navbar css */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* .html{
    font-size: 62.5%;
} */

/* .navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: linear-gradient(45deg, #a700ff , #4d19db);
    color: #000;
    opacity: 0.85;
    z-index: 2;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    
}

.navbar a:hover{
    color: #b46919;
}


@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}


.navbar a:hover span {
  transform: translate3d(0, -2px, 0);
}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
} */
/* navbar css */
@font-face {
  src: url("./poppins.ttf");
  font-family: "Poppins";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
}

body {
  background: #282C34;
}

img {
  width: 100%;
}

header {
  width: 80%;
  height: 70px;
  background: #fefefe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
}

.logo {
  width: 120px;
  margin-top: 8px;
}

/* nav .logo {
  display: none;
}

nav ul {
  display: flex;
}

nav ul li a {
  color: #212526;
  display: block;
  margin: 0 2px;
  font-weight: 600;
  padding: 8px 18px;
  transition: 0.2s;
  border-radius: 30px;
  text-decoration: none;
}

nav ul li a:hover {
  background: #f6f4ff;
}

nav ul li a.active {
  color: #fff;
  background: orangefn;
}

.hamburger {
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s;
}

.hamburger:hover {
  background: #f6f4ff;
}

.hamburger .line {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #212526;
}

@media only screen and (max-width: 1100px) {
  header {
    width: 90%;
    padding: 0 20px;
  }

  nav {
    position: absolute;
    left: -300px;
    top: 0;
    z-index: 999;
    width: 280px;
    height: 100vh;
    background-color: #282C34;
    transition: 0.2s;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
  }

  #nav_check:checked~nav {
    left: 0;
  }

  nav .logo {
    display: block;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }

  nav ul {
    display: block;
    padding: 0 20px;
    margin-top: 30px;
  }

  nav ul li a {
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 5px;
  }

  .hamburger {
    display: block;
  }
} */


/* Home page css */
.start {
  margin: 0;
  padding: 0;
  font-family: 'Poopins sans-serief';

}

.hero {
  width: 100%;
  min-height: 100vh;
  /* background: linear-gradient(45deg, #a700ff , #4d19db); */
  background: #282c34;
  padding-left: 4%;
  padding-right: 4%;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  z-index: 1;
}

/* .trianglr1{
  position: absolute;
  left: 50%;
  top
} */
.GAQ {
  border: 2px solid #fff;
  padding: 6px 25px;
  border-radius: 30px;
  margin-left: 10px;
}

.col-2 .GAQ:hover {
  background-color: orange;
  color: #fff;
}

/* .nav{
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.logo{
  width: 150px;
}
.nav ul{
  flex: 1;
  text-align: right;
  
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0 15px;
}
a{
  text-decoration: noen;
  color: #fff;
} */
.rowtemp {
  display: flex;
  flex-wrap: wrap;
  padding-top: 150px;
  justify-content: space-evenly;
}

.col-1 {
  flex-basis: 40%;
  min-width: 300px;
  margin-bottom: 30px;
  position: relative;
}

.col-2 {
  flex-basis: 55%;
  min-width: 300px;
  margin-bottom: 30px;
}

.col-1 img {
  width: 100%;
}

.col-2 h1 {
  font-size: 62px;
  font-weight: 600;
}

.col-2 {
  margin: 10px 0 50px;
  max-width: 580px;
}

.col-2 .GAQ {
  margin-left: 0;
  margin-right: 30px;
  background: #282c34;
  color: #fff;
  font-weight: 500;

}


.col-2 a {
  text-decoration: none;
}

.elements {
  position: absolute;
  left: 0;
  top: 0;
  animation: move 2.5s linear infinite;
}

@keyframes move {
  0% {
    transform: translate(-15px, 0px);
  }

  50% {
    transform: translate(0, -15px);
  }

  100% {
    transform: translate(-15px, 0px);
  }
}

.homePageGif1 {


  padding-bottom: 129%;
  position: absolute;

}

.card:hover {
  transform: scale(1.1);
}

.card {
  transition: transform 0.5s;

}

.card {
  margin: 10px auto;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  height: 100%;
  transition: 0.3s;
  background-color: aliceblue;
}

.card:hover {
  box-shadow: 1px 10px 16px 0 rgba(0, 0, 0, 0.3);
}

.card-title {
  text-align: center;
  color: #666666;
  font-weight: bold;
}

.card-text {
  font-weight: 500;
  color: #66686b;
}

.card-image {
  text-align: center;
  margin: 5vh 0;
}

.card-text {
  text-align: center;
}

.title-heading {
  font-size: 3em;
  text-align: center;
  margin: 4%;
  font-weight: bold;

}

.headingtext h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;

}

.headingtext h1:before {
  background-color: #c50000;
  content: '';
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}

.headingtext h1:after {
  background-color: #c50000;
  content: '';
  display: block;
  position: absolute;
  left: 120px;
  height: 3px;
  width: 75px;
  margin-bottom: 0.25em;
}

.textt {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.lottie-animated {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%)
}

.head {
  color: orange;
}

.whatwedo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nine h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.nine h1 span {
  margin-top: 5px;
  font-size: 15px;
  color: #fff;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.nine h1 span:after,
.nine h1 span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid orange;
  border-top: 1px solid orange;
  height: 5px;
  background-color: orange;
}

.nine h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/* client carousel css */
.containerClient {
  margin: 0;
  text-align: center;
  font-family: sans-serif;

}

.containerClient {
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 60s infinite forwards linear;
}

.carousel__face {
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;

  /* box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5); */
  display: flex;
}

.containerClient span {
  margin: auto;
  font-size: 2rem;
}


.carousel__face:nth-child(1) {
  background-image: url("../src/assets/img/Hitechlogo.png");
  background-size: 300px 187px;
  background-repeat: no-repeat;
  background-color: #282C34;
  /* border-radius: 40%; */
  transform: rotateY(0deg) translateZ(400px);
}

.carousel__face:nth-child(2) {
  background-image: url("../src/assets/img/client2png.png");
  transform: rotateY(40deg) translateZ(400px);
  background-size: 300px 187px;
  background-repeat: no-repeat;
  background-color: #282C34;
  /* border-radius: 40%; */

}

.carousel__face:nth-child(3) {
  background-image: url("../src/assets/img/client3.png");
  transform: rotateY(80deg) translateZ(400px);
  background-size: 300px 187px;
  background-repeat: no-repeat;
  background-color: #282C34;
  /* border-radius: 40%; */

}

.carousel__face:nth-child(4) {
  background-image: url("../src/assets/img/client4.png");
  transform: rotateY(120deg) translateZ(400px);
  background-size: 300px 187px;
  background-repeat: no-repeat;
  background-color: #282C34;
  /* border-radius: 40%; */
}

.carousel__face:nth-child(5) {
  background-image: url("../src/assets/img/client5.png");
  transform: rotateY(160deg) translateZ(400px);
  background-size: 300px 187px;
  background-repeat: no-repeat;
  background-color: #282C34;
  /* border-radius: 40%; */
}

.carousel__face:nth-child(6) {
  background-image: url("../src/assets/img/client6.png");
  transform: rotateY(200deg) translateZ(400px);
  background-size: 300px 187px;
  background-repeat: no-repeat;
  background-color: #282C34;
  /* border-radius: 40%; */
}

.carousel__face:nth-child(7) {
  background-image: url("../src/assets/img/client7.png");
  transform: rotateY(240deg) translateZ(400px);
  background-size: 300px 187px;
  background-repeat: no-repeat;
  /* background-shadow: 10px 10px #212526 */
  background-size: cover;
  /* background-color: #080808; */
  background-color: #282C34;
  /* border-radius: 20%; */

}

.carousel__face:nth-child(8) {
  background-image: url("../src/assets/img/client8.png");
  transform: rotateY(280deg) translateZ(400px);
  background-size: 300px 187px;
  background-repeat: no-repeat;
  background-color: #282C34;
}

.carousel__face:nth-child(9) {
  background-image: url("../src/assets/img/client6.png");
  transform: rotateY(320deg) translateZ(400px);
  background-size: 300px 187px;
  background-repeat: no-repeat;
  background-color: #282C34;
}

.content {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  word-wrap: break-word;
}

/* Testimonial css */
/* ========== 00. General Styling ========== */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  outline: 0;
  transition: all 0.3s ease;
}

/* body {
    margin: 0;
    margin-top: 60px;
    padding: 0;
    font-family: "Open Sans", "Noto Sans", HelveticaNeueCyr, Helvetica, sans-serif;
    line-height: 1.68em;
    color: #333333;
    background: #fafafa;
} */

blockquote {
  padding: 0;
  margin: 0;
}

section.t-bq-section {
  padding: 30px;
  margin-bottom: 60px;
}

.t-bq-wrapper.t-bq-wrapper-boxed {
  max-width: 576px;
  margin: 0 auto;
}

.t-bq-wrapper.t-bq-wrapper-fullwidth {
  max-width: 100%;
}

/* ========== 05. Paul ========== */

.t-bq-quote-paul {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 250px;
  box-shadow: 2px 2px 25px orange;
  border-radius: 10px;
}

.t-bq-quote-paul .t-bq-quote-paul-pattern {
  flex-basis: 80px;
  background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/hexabump.png") repeat;
  border-radius: 10px 0 0 10px;
}

.t-bq-quote-paul .t-bq-quote-paul-base {
  flex-basis: calc(100% - 80px);
  background: #ffffff;
  padding: 40px 30px 50px 80px;
  font-size: 11pt;
  line-height: 1.62em;
  border-radius: 0 10px 10px 0;
}

.t-bq-quote-paul .t-bq-quote-paul-qmark {
  position: absolute;
  top: 50px;
  left: 105px;
  font-family: Garamond, Georgia, "Times New Roman", serif;
  font-size: 42pt;
  color: #999999;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.t-bq-quote-paul .t-bq-quote-paul-userpic {
  position: absolute;
  top: 80px;
  left: 35px;
  width: 80px;
  height: 70px;
  background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/strug.jpg") center center no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.t-bq-quote-paul .t-bq-quote-paul-meta {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 2px dotted #777777;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-author,
.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-source {
  color: #777777;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-author {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 10pt;
  font-weight: bold;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-author cite {
  font-style: normal;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-source {
  font-size: 9pt;
}

@media screen and (max-width: 768px) {

  .t-bq-quote-paul .t-bq-quote-paul-pattern {
    flex-basis: 20px;
  }

  .t-bq-quote-paul .t-bq-quote-paul-base {
    flex-basis: calc(100% - 20px);
    padding: 100px 30px 50px 30px;
  }

  .t-bq-quote-paul .t-bq-quote-paul-userpic {
    width: 80px;
    height: 50px;
    left: 40px;
    top: 20px;
  }

  .t-bq-quote-paul .t-bq-quote-paul-qmark {
    left: 100px;
    top: 45px;
  }
}

@media screen and (max-width: 768px) {

  .t-bq-quote-jasper .t-bq-quote-jasper-base {
    padding-left: 30px;
  }

}



@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-360deg);
  }
}

/* Footer css */
footer {
  padding: 7em 0;
}

.footer-07 {
  background: #121212;
}

.footer-07 a {
  color: #a3de83;
}

.footer-07 p {
  color: rgba(255, 255, 255, 0.3);
}

.footer-07 .footer-heading {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer-07 .footer-heading .logo {
  color: #fff;
}

.footer-07 .menu {
  margin-bottom: 30px;
}

.footer-07 .menu a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-07 .ftco-footer-social li a {
  background: transparent;
  border: 1px solid #a3de83;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}

.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: relative;
}

.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
  color: #fff;
}

.form-control {
  height: 52px;
  background: #fff;
  color: #000;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control:focus,
.form-control:active {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea.form-control {
  height: inherit !important;
}

.ftco-section {
  padding: 12em 0;
}

.ftco-section h2 {
  margin-bottom: 0;
}

footer a {
  text-decoration: none;
}

footer i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0 0 2px orange;
  padding: 0.5em 0.6em;
}

/* contactCeo css */
.back i {
  display: inline-block;
  border-radius: 60px;
 
  padding: 0.5em 0.6em;
}
.card-container, .front, .back {
	width: 20rem;
	height: 20rem;
}
.card-container {
	margin: 5rem;
}
.front, .back {
	box-sizing: border-box;
	padding: 2rem;
  padding-top: 0px;
	border-radius: 4px;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .25);
	font-family: BlinkMacSystemFont, "Segoe UI", sans-serif;
	font-size: 2rem;
	color: #fff;
	/* text-transform: uppercase; */
	text-align: center;
  background-color: #1F2124;
}
/* front side bg is green gradient */ .front {
  background-color: #1F2124;
}
/* back side bg is orange gradient */ .back {
  background-color: #1F2124;
}
.card-container {
	position: relative;
}
.front, .back {
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	overflow: hidden;
	transition: transform .8s ease;
}
.back {
	transform: rotateY(180deg);
}
.card-container:hover .front {
	transform: rotateY(-180deg);
}
.card-container:hover .back {
	transform: rotateY(0deg);
}
.card-container {
	perspective: 75rem;
}
.forCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-contact{
  height: 400px;
  width: 100%;
  background-image: url("/src//assets/img/test.jpg");
  opacity: 0.5;
}
.front h4{
  font-family: 'Poppins', sans-serif;
}
.check-list {
  margin: 0;
  padding-left: 1.2rem;
}

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
  font-size:small;
  text-align: left;
  font-family: "Poppins";
}

.check-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #00a8a8;
    transform-origin: bottom left;
    transform: rotate(45deg);
}
/* About page css */
.aboutpage{
  background-image: url("../src/assets/img/bgcontact.png");
  width: 100%;
  height: 85vh;
  background-repeat: no-repeat;
 background-size: cover;
 background-color: #fff;
 background-position: center;
}
.aboutHeading{
  font-weight: 900;
  font-size: 3.5rem;
  padding-top: 70px;
}
.abouthr{
  border: 2px solid red;
  width: 10%;
}
.contentofAbout{
  height:50em;
  width: 40em;
  padding-left: 64px;
  text-align: left;
  font-family: Poppins;
  font-size: large;
}

.GAQ{
  margin-left: 0;
  margin-right: 30px;
  background: #282c34;
  color: #fff;
  font-weight: 500;
}
.GAQ:hover {
  background-color: orange;
  color: #fff;
}






